body{
	font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.pclass{
	color:red;
}

header{
	height:50px;
	background: linear-gradient(to right, white,green );
}

#flexbox{
  display:flex; 
  flex-wrap: wrap;
  justify-content:space-between;
  width: 100%;
}
.box-item{
  text-align: center;
}    

.title{
	margin:auto;
	font-size:24px;
}

.logo{
	padding:5px 5px 0 0;
	height:40px;
}

.menu{
	padding:5px 5px 5px 0px;
	height:40px;
}

/*		↑までヘッダー部分 				*/


.plink{
	padding-top:30px;
	width:40%;
	text-align:center;
	margin:auto;
}

.linkpage{
	border:solid 1px green;
}

