body{
	font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.pclass{
	color:red;
}

header{
	height:50px;
	background: linear-gradient(to right, white,green );
}

.header-logo{
	width:50px;
	float:left;
}
.logo{
	padding:5px 5px 0 0;
	height:40px;
}

.header-title{
	text-align:center;
	float:center;
}

.title{
	font-size:30px;
	color:white;
}

.header-menu{
	width:50px;
	float:right;
	text-align:right;
}

.menu{
	padding:5px 5px 5px 0px;
	height:40px;
	float:right;
}

/*↑までヘッダー部分 */

.changeButton{
	padding-top:20px;
	padding-bottom:40px;
	width:70%;
	margin:auto;
}

.roster{
	width:70%;
	margin:auto;
}