<style>


.loginForm{
	padding-top:50px;
	text-align:center;
}

.plogin{

}

.plink{
	padding-top:100px;
	width:5%;
	text-align:center;
	margin:auto;
}

.linkpage{
	border:solid 1px green;
}

</style>